@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: 900; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: 800; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Black.ttf);
  font-weight: 900; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
  font-weight: 800; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
  font-weight: 200; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
  font-weight: 100; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

header {
  width: 100%;
  position: relative;
  background-color: #191919; }

.container {
  margin-top: 70px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .container .social-info .foto img {
    width: 300px;
    height: 300px;
    border: 1px solid #fff; }
  .container .text-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }
    .container .text-info h1 {
      margin-bottom: 15px;
      color: #fff;
      font-size: 55px; }
    .container .text-info span {
      color: #d2d2d2;
      font-size: 19px; }
    .container .text-info .about-me__bio-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: left; }
      .container .text-info .about-me__bio-block .about-me__bio-block_01 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .container .text-info .about-me__bio-block .about-me__bio-block_02 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 40px; }

@media only screen and (max-width: 991px) {
  .container {
    margin-top: 60px;
    margin-bottom: 60px; }
    .container .social-info .foto img {
      width: 260px;
      height: 260px; }
    .container .text-info h1 {
      margin-bottom: 10px;
      font-size: 40px; }
    .container .text-info span {
      font-size: 15px; }
    .container .text-info .about-me__bio-block .about-me__bio-block_02 {
      margin-left: 35px; } }

@media only screen and (max-width: 767px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px; }
    .container .social-info {
      margin: 0; }
      .container .social-info .foto img {
        width: 220px;
        height: 220px; }
    .container .text-info h1 {
      margin-bottom: 10px;
      font-size: 28px; }
    .container .text-info span {
      font-size: 12px; }
    .container .text-info .about-me__bio-block .about-me__bio-block_02 {
      margin-left: 20px; } }

@media only screen and (max-width: 575px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px; }
    .container .social-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .container .social-info .foto img {
        width: 220px;
        height: 220px; }
    .container .text-info {
      margin-top: 20px; }
      .container .text-info h1 {
        margin-bottom: 5px;
        font-size: 28px; }
      .container .text-info span {
        font-size: 12px; }
      .container .text-info .about-me__bio-block {
        margin-top: 10px; }
        .container .text-info .about-me__bio-block .about-me__bio-block_02 {
          margin-left: 20px; } }
