@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: 900; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: 800; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Black.ttf);
  font-weight: 900; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
  font-weight: 800; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
  font-weight: 200; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
  font-weight: 100; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

header {
  width: 100%;
  position: relative;
  background-color: #191919; }

.container {
  margin-top: 70px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .container .social-info .foto img {
    width: 300px;
    height: 300px;
    border: 1px solid #fff; }
  .container .text-info {
    text-align: center; }
    .container .text-info h1 {
      margin-top: 10px;
      margin-bottom: 15px;
      color: #fff;
      font-size: 55px; }
    .container .text-info span {
      color: #d2d2d2;
      font-size: 20px; }
