@import "./_components/_open-sans.scss";
@import "./_components/_Montserrat.scss";

*  {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  display: flex;
}

header {
  width: 100%;
  position: relative;
  background-color: #191919;
}

.container {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;

  .social-info {

    .foto {

      img {
        width: 300px;
        height: 300px;
        border: 1px solid #fff;
      }
    }
  }

  .text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    h1 {
      margin-bottom: 15px;
      color: #fff;
      font-size: 55px;
    }
    span {
      color: #d2d2d2;
      font-size: 19px;
    }

    .about-me__bio-block {
      display: flex;
      justify-content: center;
      text-align: left;


      .about-me__bio-block_01 {
        display: flex;
        flex-direction: column;
      }

      .about-me__bio-block_02 {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {
  .container {
    margin-top: 60px;
    margin-bottom: 60px;

    .social-info {
      .foto {
        img {
          width: 260px;
          height: 260px;
        }
      }
    }

    .text-info {

      h1 {
        margin-bottom: 10px;
        font-size: 40px;
      }
      span {
        font-size: 15px;
      }

      .about-me__bio-block {
        .about-me__bio-block_01 {

        }

        .about-me__bio-block_02 {
          margin-left: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;

    .social-info {
      margin: 0;

      .foto {
        img {
          width: 220px;
          height: 220px;
        }
      }
    }

    .text-info {

      h1 {
        margin-bottom: 10px;
        font-size: 28px;
      }
      span {
        font-size: 12px;
      }

      .about-me__bio-block {

        .about-me__bio-block_01 {

        }

        .about-me__bio-block_02 {
          margin-left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width : 575px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .social-info {
      display: flex;
      justify-content: center;

      .foto {
        img {
          width: 220px;
          height: 220px;
        }
      }
    }

    .text-info {
      margin-top: 20px;

      h1 {
        margin-bottom: 5px;
        font-size: 28px;
      }
      span {
        font-size: 12px;
      }

      .about-me__bio-block {
        margin-top: 10px;

        .about-me__bio-block_01 {

        }

        .about-me__bio-block_02 {
          margin-left: 20px;
        }
      }
    }
  }
}
